.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
p{
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-size: 4rem;
    padding: 10px;
    border-radius: 10px;
}
button{
    font-size: 2rem;
    padding: 6px;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 10px;
}